:root {
  --splitTransitionTime: 0.5s;
  --splitTransitionCurve: ease-out;
  --header-purple: #9095c3;
  --note-mauve: #4A4E74;
  height: 100%;
}

#root {
  height: 100%;
}

.split-main {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  transition-duration: var(--splitTransitionTime);
  transition-timing-function: var(--splitTransitionCurve);
  column-gap: 2%;
}

.split-minimized {
  grid-template-columns: 0% 1fr;
}

.split-maximized {
  grid-template-columns: 20% 1fr;
}

.split-min-btn {
  position: absolute;
  transition: left var(--splitTransitionTime) var(--splitTransitionCurve);
  height: 100%;
  border-radius: 0;
  padding: 0px;
  width: 2%;
  text-align: left;
  border-top: black 1px;
  border-bottom: black 1px;
  border-style: solid;
}

.split-btn-min {
  left: 0%;

}

.split-btn-max {
  left: 20%;
}

.split-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: white;
  border: black 1px;
  border-style: solid;
  color: black;
  font-family: 'Karla', sans-serif;
}

.app-title {
  background-color: var(--header-purple);

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: rgb(70 51 131 / 29%) 1px;
  border-style: solid;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-direction: row;
  text-wrap: nowrap;
}

.split-right {
  background-color: beige;

}

.text-box {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: var(--header-purple);
  padding: 10px;
  color: white;
  align-content: center;
  font-family: 'Karla', sans-serif;
}

.header div {
  margin-bottom: 0px;
  color: wheat;
  text-align: center;
}

.note-header {
  height: 50px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  border: rgb(70 51 131 / 29%) 1px;
  border-style: solid;
  overflow-x: hidden;
  text-wrap: nowrap;
  flex-wrap: nowrap;
}

.active {
  background-color: var(--note-mauve);
  color: white
}